body {
  background: #fafafa;
}


mat-toolbar{
  z-index: 1;
  box-shadow:0 4px 8px 0 rgba(0,0,0,.4);
  position: fixed;
  a {
    font-weight: lighter;
    font-size: 16px;

    &:hover{
      background: transparent;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);
      opacity: 0.9;
    }

    &.active {
      font-weight: bold;

    }
  }
}
.ga{
  flex-basis: 37.5%;
}

@media screen and (max-width: 600px){
  .ga{
    flex-basis: auto;
  }
}

@media screen and (max-width: 600px){
 .links a{
    font-size: 16px;
    font-weight: lighter;

   &.active {
     font-weight: bold;
   }
  }
}


@media screen and (max-width: 500px){
  .replaced span {
    display: none;
  }

  .replaced:after {
    content: "G A";
  }
}
.profile{
  margin-left: 10px;
  background: #5C6BC0;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 14px 10px;
  &:hover{
    opacity: 0.7;
    box-shadow:0 4px 8px 0 rgba(0,0,0,.4);
  }
}
.user{
  border-radius: 50%;
  height: 35px;
  width: 35px;
  align-self: center;
}

.img{
  display: flex;
  align-items: center;
}
.logout{
  visibility: hidden;
  text-align: center;
  z-index: 1;
  background: #666666;


  &::after{
    visibility: visible;
    content: "";
    position: relative;

  }
}
.profile{
  &:hover .logout{
    visibility: visible;
  }
}

.background{
  background: white;
  position: absolute;
  top: 100%;
  display: flex;
  box-shadow:0 4px 8px 0 rgba(0,0,0,.4);
  padding: 25px 58px;
  visibility: hidden;
}
.profile:hover{
  .background{
    visibility: visible;
  }
}
.username{
  margin-left: 5px;
}

.mobile-menu{
  display: none;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  background: #3f51b5;
  padding: 1rem 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);
}
.hamb {
  border: none;
  outline: none;
  background: transparent;
  height: 50px;
  &:hover, &:focus, &:active {
    & ~ .mobile-menu {
      display: flex;
    }
  }
}



@media screen and (max-width: 500px){
  .mat{
    justify-content: space-between;
  }
  .profile{
    background: none;
    font-size: 14px;
    margin: 0 auto;
    padding: 0;
  }
  .user{
    width: 25px;
    height: 25px;
  }
  .iki{
    position: relative;
    z-index: 1;
  }
}
