<mat-toolbar class="grid full jc-center mat" color="primary">
  <div class="col-5 flex jc-center ga">
    <h3 class="replaced"><span>Garden App</span></h3>
  </div>

  <ng-container *ngIf="user; else logIn">

    <!--User is logged in-->
    <div class="col-7 grid jc-center ai-center links hide-s">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="m-r-xs p-a-xs">Dashboard</a>

      <div class="profile flex">
        <div class="img">
          <img [src]="user.photoURL" alt="User Profile Picture" class="user">
          <span class="username">{{user.displayName}}</span>
        </div>
        <div class="background flex">
          <button class="logout" mat-button (click)="logout()">Log Out</button>
        </div>
      </div>
    </div>

    <!--mobile-->
    <button class="hamb show-s">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="30" height="30"><path fill="white" d="M16.4,9H3.6C3.048,9,3,9.447,3,10c0,0.553,0.048,1,0.6,1h12.8c0.552,0,0.6-0.447,0.6-1S16.952,9,16.4,9z   M16.4,13H3.6C3.048,13,3,13.447,3,14c0,0.553,0.048,1,0.6,1h12.8c0.552,0,0.6-0.447,0.6-1S16.952,13,16.4,13z M3.6,7h12.8  C16.952,7,17,6.553,17,6s-0.048-1-0.6-1H3.6C3.048,5,3,5.447,3,6S3.048,7,3.6,7z"/></svg>
    </button>

    <div class="col-7 grid jc-center ai-center links mobile-menu">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class=" p-a-xs">Dashboard</a>


      <div class="profile flex">
        <div class="img">
          <img [src]="user.photoURL" alt="User Profile Picture" class="user">
          <span class="username">{{user.displayName}}</span>
        </div>
        <div class="background flex">
          <button class="logout" mat-button (click)="logout()">Log Out</button>
        </div>
      </div>
    </div>
  </ng-container>

  <!--User is logged out-->
  <ng-template #logIn>
    <button mat-button (click)="login()">Log In</button>
  </ng-template>
</mat-toolbar>

<router-outlet></router-outlet>
